<html>
    <head>
        <title>My scratchboard page</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    </head>

    <body>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Cheap Game Finder</a>
                </div>
            </div>
        </nav>
        
        <div class="container">
            <div class="row">
                <form action="." method="POST">
                    <input type="submit" class="btn btn-success" name="get_games" value="Free Games" style="padding: 5px">
                    <input type="submit" class="btn btn-success" name="get_games" value="Games Under $10" style="padding: 5px">
                    <input type="submit" class="btn btn-success" name="get_games" value="Games $10 to $20" style="padding: 5px">
                    <input type="submit" class="btn btn-success" name="get_games" value="Games $20 to $30" style="padding: 5px">
                    <input type="submit" class="btn btn-success" name="get_games" value="Games $30 to $40" style="padding: 5px">
                    <input type="submit" class="btn btn-success" name="get_games" value="Games $40 to $50" style="padding: 5px">
                    <input type="submit" class="btn btn-success" name="get_games" value="Games Over $50" style="padding: 5px">
                </form>
            </div>
            <form action="." method="POST">
                <div class="row">
                    <input type="text" class="form-control" name="game_title_text" placeholder="Search for a specific game title" style="padding: 5px">
                </div>
                <div class="row">
                    <input type="submit" class="btn btn-primary" name="get_games" value="Search" style="padding: 5px">
                </div>
            </form>
            </div>
        </div>
        <div class="container">

        {% for game_data in cheapshark_data %}

            <div class="row bg-success" style="margin: 10px; border-style: solid; border-width: 3px; border-color: black;">
                <div class="row" style="width: 80%">
                    <strong class="me-auto">Game Title: {{ game_data['title'] }}</strong>
                </div>
                <div class="row" style="width: 80%">
                    Normal Price: {{ game_data['normalPrice'] }}
                </div>
                <div class="row" style="width: 80%">
                    Sale Price: {{ game_data.salePrice }}
                </div>
                <div class="row" style="width: 80%">
                    Store/Link: <a href='{{ game_data.link }}' target="_blank">{{ game_data.storeName }}</a>
                </div>
            </div>

        {% endfor %}

        </div>
    </body>
</html>