<html>
    <head>
        <title>Cheap Game Finder</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="../static/video-game-32.png">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    </head>

    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Cheap Game Finder</a>
                </div>
            </div>
        </nav>
        
        <div class="container">
            <div class="row">
                <form action="." method="POST">
                    <input type="submit" class="btn btn-success" name="get_games" value="Free Games" style="padding: 5px">
                    <input type="submit" class="btn btn-success" name="get_games" value="Games Under $10" style="padding: 5px">
                    <input type="submit" class="btn btn-success" name="get_games" value="Games $10 to $20" style="padding: 5px">
                    <input type="submit" class="btn btn-success" name="get_games" value="Games $20 to $30" style="padding: 5px">
                    <input type="submit" class="btn btn-success" name="get_games" value="Games $30 to $40" style="padding: 5px">
                    <input type="submit" class="btn btn-success" name="get_games" value="Games $40 to $50" style="padding: 5px">
                    <input type="submit" class="btn btn-success" name="get_games" value="Games Over $50" style="padding: 5px">
                    <input type="submit" class="btn btn-success" name="get_games" value="Metacritic 90+ Games" style="padding: 5px">
                </form>
            </div>
            <form action="." method="POST">
                <div class="row">
                    <input type="text" class="form-control" name="game_title_text" placeholder="Search for a specific game title" style="padding: 5px">
                </div>
                <div class="row" style="width: 12rem;">
                    <input type="submit" class="btn btn-secondary" name="get_games" value="Search" style="padding: 5px">
                </div>
            </form>
            </div>
        </div>
        <br>
        <div class="container">

        {% for game_data in cheapshark_data %}

            <div class="card" style="width: 36rem;">
                <div class="card-header">
                    <h5 class="card-title"><strong>Game Title: {{ game_data['title'] }}</strong></h5>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Normal Price: {{ game_data['normalPrice'] }}
                        <br>
                        Sale Price: {{ game_data.salePrice }}
                    </p>
                    <a href='{{ game_data.link }}' target="_blank" class="btn btn-info">{{ game_data.storeName }}</a>
                </div>
            </div>
            <br>

        {% endfor %}

        </div>
    </body>
</html>